<div id="wrapper">
  <h4>What do you want to build?</h4>
  <mat-radio-group class="radio-group" [(ngModel)]="objType">
    <mat-radio-button value="laptop">A Laptop</mat-radio-button>
    <mat-radio-button value="phone">A Phone</mat-radio-button>
  </mat-radio-group>

  <h4>Choose your processor</h4>
  <mat-radio-group class="radio-group" [(ngModel)]="processorBtnValue">
    <mat-radio-button value="AMD">AMD</mat-radio-button>
    <mat-radio-button value="Intel">Intel</mat-radio-button>
  </mat-radio-group>

  <h4>Choose your primary memory</h4>
  <mat-radio-group class="radio-group" [(ngModel)]="mainMemBtnValue">
    <mat-radio-button value="RAM">RAM</mat-radio-button>
    <mat-radio-button value="ROM">ROM</mat-radio-button>
  </mat-radio-group>

  <h4>Choose your secondary memory</h4>
  <mat-radio-group class="radio-group" [(ngModel)]="secondaryMemBtnValue">
    <mat-radio-button value="SSD">SSD</mat-radio-button>
    <mat-radio-button value="HDD">HDD</mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button color="primary" id="build-button" (click)="onBuildButtonClick()">Build!</button>
</div>